#root {
  background-color: #eee !important;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.root {
  background-color: #eee !important;
  flex-grow: 1;
}

.paper {
  background-color: #eee !important;
  color: #414042 !important;
  flex: 1;
  text-align: center;
}

.chatHeader h3 {
  background-color: #eee !important;
  color: #414042 !important;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.chatHeader h4 {
  background-color: #eee !important;
  color: #414042 !important;
  margin: 0;
  padding-bottom: 5px;
}

.chatHeader h4 span {
  cursor: pointer;
}

.chatHeader p {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: 20px;
}

.topicWindow {
  border-radius: 0 !important;
  border-right: 1px solid #666;
  box-shadow: none !important;
  max-height: 72vh;
  min-height: 72vh;
  overflow: auto;
  padding-right: 0;
}

.chatWindow {
  box-shadow: none !important;
  max-height: 72vh;
  min-height: 72vh;
  overflow: auto;
  padding-left: 0;
}

.messageInputContainer {
  background-color: #eee !important;
  display: flex;
}

.messageInput {
  background-color: #eee !important;
  color: #414042 !important;
  width: 100%;
}

.activeTopic span {
  font-weight: 600 !important;
}

.chatText {
  color: #414042 !important;
}

.sender {
  font-size: 0.95rem;
  font-weight: 600;
}

.backdrop,
.topicBackdrop {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal {
  animation-duration: 0.6s;
  animation-name: slideIn;
  background-color: #eee;
  border-radius: 6px;
  display: flex;
  left: 30%;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 40%;
}

.topicInput,
.userNameInput {
  margin-right: 20px !important;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .modal {
    left: 10px;
    right: 10px;
    width: 90%;
  }
}

@keyframes slideIn {
  from {
    top: -10%;
  }
  to {
    top: 10%;
  }
}

.footer {
  bottom: 0;
  left: 0;
  padding: 0 !important;
  position: absolute;
  width: 100%;
}

.footerItemsWrapper {
  display: flex;
  width: 100%;
}

.noChats {
  font-style: italic;
  text-align: center;
}

.topicTitle span {
  font-size: 0.75rem;
}

.newTopicButton {
  padding: 0 !important;
}

.topics {
  padding: 0 20px !important;
}
